@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&family=Roboto+Condensed:wght@700&display=swap");

#map {
  height: 100vh;
}

#map-container {
  position: relative;
}

#control-overlay {
  position: absolute;
  z-index: 314159;
  min-width: 300px;
  min-height: 50px;
  bottom: 5px;
  left: 45px;
  background-color: rgba(255, 255, 255, 0.5);
  padding-top: 25px;
  padding-left: 25px;
}

.region-filter {
  font-family: "Montserrat", sans-serif;
}

.layer-options {
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
}
