@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap");

#map {
  height: 100vh;
}

#map-container {
  position: relative;
}

/* control panel styling */

#control-overlay {
  position: absolute;
  z-index: 314159;
  min-width: 230px;
  min-height: 349.6px;
  bottom: 5px;
  left: 5%;
  background-color: rgba(255, 255, 255, 0.897);
  padding-top: 25px;
  padding-left: 25px;
  transition: 0.4s;
}

#control-overlay.active {
  bottom: -320px;
}

.toggle-btn {
  position: absolute;
  right: 20px;
  top: 15px;
}

form {
  padding-top: 20px;
}

.region-filter {
  font-family: "Montserrat", sans-serif;
  font-size: smaller;
}

.layer-options {
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: smaller;
}

.layer-options > label > img {
  height: 16px;
  width: 16px;
}

h3 {
  font-family: "Roboto Condensed", sans-serif;
}

.reset-button {
  margin-bottom: 20px;
  height: 25px;
  width: 70px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: rgb(209, 203, 203);
  border: rgb(209, 203, 203);
  border-radius: 5px;
}

#search-container {
  padding-top: 40px;
  padding-right: 10px;
}

/* Back to home page button styling */

.home-button {
  position: absolute;
  z-index: 314159;
  top: 15px;
  left: 60px;
  height: 35px;
  width: 70px;
  background-color: rgb(126, 125, 120);
  border: rgb(126, 125, 120);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-button > a {
  text-decoration: none;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: larger;
}

.home-button:hover {
  background-color: rgba(172, 185, 194, 0.685);
}

/* styling of tabs in control panel */

.tab {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0px;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  /* cursor: pointer; */
  padding: 14px 16px;
  transition: 0.3s;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

#search-results {
  padding-top: 20px;
}
